<%- include('../header.ejs'); -%>
  <!-- HEADER Navigation End -->

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>View Posts</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">View Posts</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding white">
      <div class="container">
        <div class="offset-md-3 col-md-6">
            

                <div class="form-group">
                    <label for="taskTextField">Title:</label>
                    <strong><%= post.title %></strong>
                </div>                
                <div class="form-group">
                    <label for="descriptionTextField">Price:</label>
                    <strong>$<%= post.price %></strong>                    
                </div>
                
                <br />
                
                <a href="/products/view-posts" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
    
    
    <!-- =-=-=-=-=-=-= Download App =-=-=-=-=-=-= -->
		
		<!-- =-=-=-=-=-=-= Download App END =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
   
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
  <%- include('../footer.ejs'); -%>
  <!-- =-=-=-=-=-=-= JQUERY =-=-=-=-=-=-= -->
  <script src="/js/jquery.min.js"></script>
  <!-- Bootstrap Core Css  -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- Jquery Smooth Scroll  -->
  <script src="/js/jquery.smoothscroll.js"></script>
  <!-- Jquery Easing -->
  <script type="text/javascript" src="/js/easing.js"></script>
  <!-- Jquery Counter -->
  <script src="/js/jquery.countTo.js"></script>
  <!-- Jquery Waypoints -->
  <script src="/js/jquery.waypoints.js"></script>
  <!-- Jquery Appear Plugin -->
  <script src="/js/jquery.appear.min.js"></script>
  <!-- Carousel Slider  -->
  <script src="/js/carousel.min.js"></script>
  <!-- Jquery Parallex -->
  <script src="/js/jquery.stellar.min.js"></script>
  <!--Style Switcher -->
  <script src="/js/bootstrap-dropdownhover.min.js"></script>
  <!-- Include jQuery Syntax Highlighter -->
  <script type="text/javascript" src="/scripts/shCore.js"></script>
  <script type="text/javascript" src="/scripts/shBrushPhp.js"></script>
  <!-- Template Core JS -->
  <script src="/js/custom.js"></script>
  <!-- FOR THIS PAGE ONLY -->
  <script src="/js/imagesloaded.js"></script>
  <script src="/js/isotope.min.js"></script>
  <script type="text/javascript">
    (function($) {
      "use strict";
      $('#posts-masonry').imagesLoaded(function() {
        $('#posts-masonry').isotope({
          layoutMode: 'masonry',
          transitionDuration: '0.3s'
        });
      });
    })(jQuery);
  </script>
</body>


<!-- Mirrored from templates.scriptsbundle.com/knowledge/demo/how-work.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Feb 2019 12:29:44 GMT -->
</html>
